<section class="hero section-login">
    <div class="">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Login</h3>
                <p class="subtitle head has-text-grey">Please login to proceed.</p>
                <div class="box">
                    <form>
                        <div class="field">
                            <div class="control">
                                <input class="input is-medium" type="text" placeholder="Your Username" id="jcs__username" autofocus="">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control ">
                                <input class="input is-medium" type="password" id="jcs__password" placeholder="Your Password">
                            </div>
                        </div>
                        <input type="button" class="button is-info is-medium" value="Login" id="jcs__login__submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
